:root {
  --primary-blue: #0171E3;
  --primary-white: #FFFFFF;
  --background-grey: #111111;
  --background-black: #000000;
  --primary-yellow: #e1dda1;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 400px;
  margin: 5rem auto;
  font-family: sans-serif;
  background-color: var(--background-grey);
}

main {
    background-color: var(--primary-white);
    border-radius: 0 0 1rem 1rem;
}


.header-section{
  display: flex;
  background-color: var(--primary-white);
  border-radius: 1rem 1rem 0 0;
}

img {
  width: 50%;
  border-radius: 0.8rem 0 0.8rem 0;
}

.header-div {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  width: 50%;
  justify-content: space-between;
}

.header-div-wrapper {
  display: flex;
  justify-content: space-between;
}

p {
  display: inline;
}



/* 
Display
*/

@keyframes appear {
    0% { opacity: 0; }
  10% { opacity: 1;}
}

@keyframes disappear {
    0% { opacity: 1; }
  60% { opacity: 0;}
}


.main-section {
  text-align: center;
  position: relative;
}

h1 {
  font-size: 4rem;
  margin: 0;
  padding: 2rem 0;
}

h1 span {
  text-decoration: line-through;
}

.h1-span-1 {
  position: absolute;  
  opacity: 0;
  animation: appear 10s infinite;
}

/* 
table
*/

.section-dl {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  align-items: center;
  width: 90%;
  padding: 2rem 0;
  text-align: left;
  gap: 0.2rem;
  margin: 0 1rem;

  dt {
  justify-self: start;
  }

  dd {
    width: 100%;
    margin: 0;
    text-align: right;
  }
}