:root {
  /* Tokens */
  --primary-blue: #0171E3;
  --primary-white: #FFFFFF;
  --primary-grey: #111111;
  --secondary-grey: #e9e9e9;
  --primary-black: #000000;
  --primary-yellow: #e1dda1;
  --primary-green: #56AD62;
  --primary-red: #FA0027;
  --p-font-size: 0.75rem;

  /* Ge-nest media query moet omgezet worden naar min-width wegens mobile first */
   @media (max-width: 450px) {
    h1 {
      font-size: 1.2rem;
    }
   }
}

* {
  box-sizing: border-box;
}

body {
  max-width: 400px;
  margin: 5rem auto;
  font-family: sans-serif;
  background-color: var(--primary-grey);
}

main {
    background-color: var(--primary-white);
    border-radius: 0 0 1rem 1rem;
}


.header-section{
  display: flex;
  background-color: var(--primary-white);
  border-radius: 1rem 1rem 0 0;
}

img {
  width: 50%;
  border-radius: 0.8rem 0 0.8rem 0;
}

.header-div {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  width: 50%;
  justify-content: space-between;
}

.header-div-wrapper {
  display: flex;
  justify-content: space-between;
}


.header-div-wrapper p{
  font-size: var(--p-font-size);
  padding: 0.3rem 0.7rem;
  border-radius: 1rem;
  color: var(--primary-black);
  background-color: var(--secondary-grey);
}



/* 
Display
*/



@keyframes appear {
  0% {transform: translateY(-10rem);
  opacity: 0;}
  5% { opacity: 1;
      transform: translateY(0);}
  50% {opacity: 1;
      transform: translateY(0);}
  60% {opacity: 0;
        transform: translateY(10rem);}
}

@keyframes disappear {
  0% {transform: translateY(-10rem);
  opacity: 0;}
  5% { opacity: 1;
      transform: translateY(0);}
  50% {opacity: 1;
      transform: translateY(0);}
  60% {opacity: 0;
      transform: translateY(5rem);}
}

.main-section {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}

.main-section p {
  font-size: 4rem;

  @media (width < 400px) {
  .main-section p {
  font-size: 3rem;
  }
}
}

.mainsection-p-1 {
  position: absolute; 
  opacity: 0;
  animation: appear 5s infinite;
  color: var(--primary-green);
}

.mainsection-p-2 {
  opacity: 0;
  text-decoration: line-through;
  animation: disappear 5s 2.5s infinite;
  color: var(--primary-red);
}

/* 
table
*/

.section-dl {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  width:100%;
  padding: 2rem 0;
  text-align: left;
  margin: 0 1rem;
  gap: 0.2rem 0;

  dt {
  justify-self: start;
  font-size: var(--p-font-size);
  }

  meter {
    width: 100%;
    margin: 0;
    text-align: right;
    font-size: var(--p-font-size);

  }

  meter::-webkit-meter-optimum-value {
  background: var(--primary-green);
  }

  img[src$=".svg"] {
    width: 16px;
  }

}