:root {
  --primary-blue: #0171E3;
  --primary-white: #FFFFFF;
  --background-grey: #111111;
  --background-black: #000000;
  --primary-yellow: #e1dda1;
}

* {
  box-sizing: border-box;
}

html:has(.profile-card-example) {
  height: 100vh;
}

body:has(.profile-card-example) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: open sans;
  color: var(--primary-white);
  background-color: var(--background-black);
  overflow: hidden;
}

article.profile-card-example {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 50vw;
  max-width: 25em;
  min-width: 20em;
  border-radius: 1rem;
  background-color: var(--background-grey);
  transition: .25s;
  font-family: "Roboto", sans-serif;
}

header.profile-card-example-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;

  /* Je kunt selectors nesten! */
  h1 {
    margin: 2rem 0 1rem;
    color: var(--primary-white);
  }

}

@keyframes pressMe {
    0% { transform: scale(1); }
   80% { transform: scale(1); }
   85% { transform: scale(1.1); }
   95% { transform: scale(0.9); }
  100% { transform: scale(1); }
}

button.profile-card-example-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: .25rem;
  border: none;
  border-radius: 50%;
  background: var(--primary-white);
  transform: scale(.8);
  transition: .25s;
  animation: none;
}
button.profile-card-example-button:focus {
  outline: none;
  background: var(--primary-white);
}

button.profile-card-example-button svg {
  position: absolute;
  top: calc(1.25rem - 12px);
  left: calc(1.25rem - 12px);
  stroke: var(--background-grey);
  transition-delay: .25s;
}

button.profile-card-example-button:hover {
  transition: .25s;
  animation: pressMe 1.5s infinite;
  cursor: pointer;
}



button.profile-card-example-button:focus svg {
  stroke: var(--background-grey);
}
button.profile-card-example-button svg:nth-of-type(2) {
  opacity: 0;
  transition-delay: 0ms;
}

.profile-card-example-img {
  position: relative;
  top: 2rem;
  width: 10em;
  height: auto;
  border: 5px solid var(--primary-white);
  border-radius: 10em;
  box-shadow: 0 0 2px 2px var(--background-grey);
  transition: .25s .15s;
}

.profile-card-example-dl {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: left;
  align-items: center;
  width: 60%;
  padding: 5rem 0 3rem;
  text-align: right;

  dt {
    margin-top: .5rem;
    font-weight: bold;
  }

  dd {
    width: 100%;
    margin: 0;
    font-size: 0.75rem;
    transition: .25s .3s;
}
}

/* 
Paragraphs
*/

@keyframes typing {
  0% { width: 0; }
  100% { width: 100%; }
}

.profile-card-example p {
  margin: 0;
}

dl + p {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3.5s steps(30, end) infinite;
}

.profile-card-example > p {
  width: 100%;
  margin: 3rem 2rem;
  text-align: center;
}



/* 
Background blur
 */

@keyframes backgroundMovement {
    0% { transform: translate(10rem, 20rem); }
   25% { transform: translate(-10rem, 20rem); }
   50% { transform: translate(-10rem, -20rem); }
   75% { transform: translate(10rem, -20rem); }
  100% { transform: translate(10rem, 20rem); }
}

.background-blur {
  position: absolute;
  width: 25rem;
  height: 25rem;
  border-radius: 100%;
  background-color: var(--primary-blue);
  z-index: -1;
  filter: blur(15rem);
  animation: backgroundMovement 15s infinite;
}

.bb-color-2 {
  background-color: var(--primary-yellow);
  animation: backgroundMovement 15s 5s infinite;
}




/* Deze styles zijn van toepassing als je op de knop klikt */
body.is-expanded {
  font-size: 1.15em;
}

body.is-expanded .profile-card-example {
  width: 60vw;
  max-width: 60vw;
}

body.is-expanded .profile-card-example-button svg:first-of-type {
  opacity: 0;
  transition-delay: 0ms;
}

body.is-expanded .profile-card-example-button svg:nth-of-type(2) {
  opacity: 1;
  transition-delay: .25s;
}

body.is-expanded .profile-card-example-dl dd {
  font-size: 1rem;
}

body.is-expanded .profile-card-example-img {
  width: 15em;
}
